name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  # https://blog.rust-lang.org/2022/06/22/sparse-registry-testing.html
  CARGO_UNSTABLE_SPARSE_REGISTRY: "true"
  # actions-rust-lang/setup-rust-toolchain sets some default RUSTFLAGS
  RUSTFLAGS: ""

jobs:
  lint:
    strategy:
      matrix:
        toolchain:
          - stable

    runs-on: ubuntu-latest
    container: devkitpro/devkitarm
    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - uses: ./.github/actions/setup
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Check formatting
        run: cargo fmt --all --verbose -- --check

      - name: Cargo check
        run: cargo clippy --color=always --verbose --all-targets

  project-build:
    strategy:
      matrix:
        toolchain:
          # Oldest supported nightly
          - nightly-2023-06-01
          - nightly

    continue-on-error: ${{ matrix.toolchain == 'nightly' }}
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - uses: ./.github/actions/setup
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Install cargo-3ds
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --locked --path .

      - name: Create new project
        run: cargo 3ds new app --bin

      - name: Build project
        working-directory: ./app
        run: cargo 3ds build --release
